<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h1>Servers Status</h1>

<table id="t01">
  <tr>
    <th>Name</th>
    <th>Ram (Gigabytes)</th> 
    <th>Cpu (core)</th>
    <th>Storage (Giagabytes)</th>
    <th>Status</th>
    <th>Host (id)</th>
  </tr>
    {% for server in servers %}
    <tr>
    <td>{{ server.name }}</td>
    <td>{{ server.ram }}</td>
    <td>{{ server.cpu }}</td>
    <td>{{ server.storage }}</td>
    <td>{{ server.status }}</td>
    <td>{{ server.host }}</td>
    {% endfor %}
  </tr>
</table>

</body>
</html>

