#!/bin/bash
qemu-img create -F qcow2 -b {{ base_image_path }}focal-server-cloudimg-amd64.img -f qcow2 {{ vm_disk_path }}$1.qcow2 $4G &>  /dev/null
cat > {{ vm_disk_path }}network-config <<EOF
ethernets:
    ens3:
        addresses:
        - $5/24
        dhcp4: false
        gateway4: 192.168.123.1
        match:
            macaddress: $6
        nameservers:
            addresses:
            - 8.8.8.8
        set-name: ens3
version: 2
EOF
echo "local-hostname: $1" > {{ vm_disk_path }}meta-data
cloud-localds -v --network-config={{ vm_disk_path }}network-config {{ vm_disk_path }}$1-seed.qcow2 {{ vm_disk_path }}user-data {{ vm_disk_path }}meta-data &>  /dev/null
virt-install --connect qemu:///system --virt-type kvm --name $1 --ram $2 --vcpus=$3 --os-type linux   --disk path={{ vm_disk_path }}$1.qcow2,device=disk --disk path={{ vm_disk_path }}$1-seed.qcow2,device=disk --import --network network=default,model=virtio,mac=$6 --noautoconsole &>  /dev/null
