i#!/bin/bash
virt-install --connect qemu:///system --virt-type kvm --name $1 --ram $2 --vcpus=$3 --os-type linux   --disk path={{ vm_disk_path }}$1.qcow2,device=disk --disk path={{ vm_disk_path }}$1-seed.qcow2,device=disk --import --network network=default,model=virtio,mac=$4 --noautoconsole &>  /dev/null

